{% extends 'base.html' %}
{% load static %}  <!-- Load the static files library -->

{% block content %}
<h2>Available Properties for Purchase</h2>
<div class="row">
    {% for property in properties %}
    <div class="col-md-4 mb-4">  <!-- Adjust the column size as needed -->
        <div class="property-card border rounded shadow-sm p-3">
            {% if property.propertyimage_set.first %}
                <img src="{{ property.propertyimage_set.first.image.url }}" class="card-img-top" alt="Image of {{ property.address }}">
            {% else %}
                <img src="{% static 'home1.jpeg' %}" class="card-img-top" alt="No image available">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ property.address }}</h5>
                <p class="card-text">Price: ${{ property.price }}</p>
                <p class="card-text">{% if property.for_rent %}For Rent{% else %}For Sale{% endif %}</p>
                <p class="card-text">Type: {{ property.property_type }}</p>
                <a href="{% url 'property_detail' property.id %}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No properties available for purchase at this time.</p>
    {% endfor %}
</div>
{% endblock %}
