{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="navbar">
        <h1><a href="{% url 'home' %}">Real Estate</a></h1>
        <nav class="navlinks">
            {% if user.is_authenticated %}
                {% if user.agent %}
                    <a href="{% url 'agent_dashboard' %}">Agent Dashboard</a> |
                {% else %}
                    <a href="{% url 'dashboard' %}">Dashboard</a> |
                {% endif %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'property_list' %}">Properties</a> |
                <a href="{% url 'login' %}">Login</a> |
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </nav>
    </header>
    <div class="content">
        <h2>Welcome to the Real Estate Portal</h2>
        <p>Your one-stop destination for properties, rentals, and agents.</p>
        <img src="{% static 'home1.jpeg' %}" alt="Real Estate">
        <hr>
    </div>
</body>
</html>
