<!-- sell_property.html -->
{% extends 'base.html' %}

{% block content %}
    

    

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}  <!-- This will render all fields from the form -->
        
        <h3>Upload Property Images</h3>
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
        
        <button type="submit">Sell Property</button>
    </form>


{%endblock%}