/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 a {
    color: white;
    text-decoration: none;
}

nav a{
    color: #ddd;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: white;
}

.content {
    padding: 20px;
}